<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

# **Objectives:**

- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List open source development enviroments for Data Science

### Some of the popular languages that Data Scientists use are:

<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the commonly used libraries used by Data Scientists include:

<ol>
<li>Pandas</li>
<li>Numpy</li>
<li>ggplot</li>
<li>matplotlib</li>
<li>TensorFlow</li>
</ol>

| Data Science Tools |
| :---: |
| JupyterLab |
| Apache Zeppelin |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200 
hours = round(minutes/60, 2)
hours

3.33

## Author 
Amal Thomas